
.btn-calc {
  padding: 20px 30px;
  border: 1px solid rgba($color-light-grey, 0.3);
  background-color: $color-light;
  transition: all 0.3s ease-out;
  &:hover,
  &:active {
    color: $color-light;
    background-color: $color-accent;
  }
}

.calc {
  &-body {
    border-radius: 10px;
    background-color: $color-light;
    margin-right: 20px;
    min-width: 600px;
  }


  @media (max-width: 938px) {
    &-body,
    &-right-sidebar{
      width: 86vw;
      margin-top: 20px;
      min-width: 86vw;
    }
    &-body {
      margin-right: 0;
    }

  }

  &-right-sidebar {
    border-radius: 10px;
    background-color: $color-accent;
    min-width: 300px;

  }
}

.modal {

  &-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 320px;
    padding: 50px 20px 10px 20px;
    color: $color-light;

    & .fas {
      padding-right: 10px;
      color: $color-light;
    }
  }

  &-sort{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 20px 0 0 0;

    &__item {
      padding-right: 30px;

      &:first-of-type {
        color: $color-light-grey;
      }
    }

    &__link {
      .fas {
        font-size: 0.8em;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }

  &-title {
    font-weight: 700;
    text-align: left;
    &--dark {

    }
    &--light {
      color: $color-light;
    }
  }
}

.calc-range {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &-input {
    width: 70%;

  }

  &-value {
    border: 1px solid $color-accent;
    border-radius: 5px;
    padding: 5px 30px 5px 15px;
    outline: 0;
    transition: border 0.3s ease-out;
    width: 100px;

    &:focus {
      border: 2px solid $color-accent;
    }
  }

  &-currency {
    color: $color-light;
    background-color: $color-accent;
    padding: 5px 10px;
    margin-left: -30px;
    border-radius: 5px;
  }
}