footer {
  min-height: 200px;
  background-color: rgba($color-light-grey, 0.1);
  border-top: 1px solid rgba($color-light-grey, 0.3);
}

.footer-service {
  background-color: transparent;
  position: relative;
  border-top: 0;

 &-bg {
   background: url(../img/bg-header-service.png) no-repeat center center;
   width: 100%;
   min-height: 350px;
   position: absolute;
   bottom: 0;
   z-index: -10;
   opacity: 0.05;
   transform: rotate(180deg);
 }
}