.navbar {
  border-bottom: 1px solid rgba($color-light-grey, 0.3);

  &__logo {
    margin-right: 0.5vw;
    width: 15%;
  }
  &-brand,
  &-nav {
    font-weight: 700;
  }
  @media (max-width: 322px) {
    &-brand {
      font-size: 0.9em;
      margin-right: 0.1rem;
    }
  }

}

.nav {
  &-item{
    margin-left: 2vw;

    &:last-of-type {
      margin-left: 1vw;
    }
  }
  @media (max-width: 768px) {
    &-item{
      margin-left: 3vw;
      margin-bottom: 1vw;

      &:last-of-type {
        margin-left: 3vw;
      }
    }
  }

  &-btn {
    margin-left: 0.5vw;
    border-radius: 10px;
    border: none;
    color: $color-light;
    padding: 10px 3vw;
    background-color: $color-primary;
    transition: background-color 0.3s ease-out;

    &:hover {
      text-decoration: none;
      background-color: $color-accent;
      color: $color-light;
    }
  }

  @media (max-width: 1488px) {
    &-item{
      margin-left: 1vw;
    }

    &-btn {
      margin-left: 0.2vw;
      padding: 10px 1.5vw;
    }
  }

  @media (max-width: 1488px) {
    &-item{
      margin-left: 0.4vw;
    }
  }


}

.header-content {
  padding: 5vw 12vw;
  margin: 0 -12px;
  border-bottom: 1px solid rgba($color-light-grey, 0.3);

  &__description {
    padding-bottom: 20px;
  }

 &__title {
   text-align: right;

   &-emphasis {
     text-align: left;
     font-size: 3.8em;
   }

   @media (max-width: 1488px) {
     &-emphasis {
       font-size: 3em;
     }
   }

   @media (max-width: 1126px) {
     &-emphasis {
       font-size: 2em;
     }
   }
   &-opacity {
     margin: 5vw 0;
    opacity: 0.05;
     color: $color-dark;
     font-size: 9vw;
     line-height: 1em;

     & strong {
       font-weight: 800;
     }
   }

 }

  @media (max-width: 585px) {
    &__btn {
      display: block;
      margin: auto;
    }
  }

  &__btn {
    margin-left: 0.5vw;
    border-radius: 10px;
    border: none;
    color: $color-light;
    padding: 10px 2vw;
    background-color: $color-primary;
    transition: background-color 0.3s ease-out;

    &:hover {
      background-color: $color-accent;
    }
  }
}
@media (max-width: 1488px) {
  .header-content {
    padding: 2em 7vw 1em;
}

@media (max-width: 1126px) {
  .header-content {
    padding: 2em 3vw 1em;

    }
  }
}

@media (max-width: 768px) {
  .header-content {
    p {
      text-align: center;
    }
    &__btn {
      display: block;
      margin: auto;
    }
  }
}

@media (max-width: 710px) {
  .header-content {
    &__title {
      text-align: center;

      &-emphasis {
        display: block;
        text-align: center;
      }
    }
  }
}


@media (max-width: 492px) {
  .header-content {
    &__title {
      font-size: 2em;

      &-emphasis {
        font-size: 2em;
      }
    }
  }
}

.social {

  &-menu {
    padding: 2vw 12vw;
    margin: 0 -12px;
    border-bottom: 1px solid rgba($color-light-grey, 0.3);

    &__item {
      margin-right: 3vw;
    }

    &__link{
      color: $color-dark;
      text-decoration: none;
    }
  }
}

.fas,
.far {
  color: rgba($color-light-grey, 0.8);
  font-size: 1.5em;
  transition: color 0.3s ease-out;

  &:hover {
    color: $color-accent-light;
  }
}

.user {
  &-navbar {
    padding: 0;
    border: 0;

    &__header {
      flex-grow: 1;
      align-items: center;
      display: flex!important;
      flex-basis: auto;
    }
  }

  &-nav {
    border-right: 1px solid rgba($color-light-grey, 0.3);
    &__menu {
      padding: 20px 28px 10px;
    }
    &--notification {
      border-left: 1px solid rgba($color-light-grey, 0.3);
      padding: 20px 10px 10px;
    }
  }
}

.nav-notification {
  padding-right: 10vw;
}
