.navbar {
  border-bottom: 1px solid rgba($color-light-grey, 0.3);
  padding: 0 1rem;

  &__logo {
    margin-right: 0.5vw;
    width: 15%;
  }
  &-brand,
  &-nav {
    font-weight: 700;
  }
  @media (max-width: 340px) {
    &-brand {
      font-size: 0.9em;
      margin-right: 0.1rem;
    }
    &-nav {
      margin-bottom: 10px;
    }
  }
  &-service {
    border-bottom: 0;
    position: relative;
    background-color: #f8f6fe;

    &-bg {
      background: url(../img/bg-header-service.png) no-repeat center center;
      width: 100%;
      min-height: 400px;
      position: absolute;
      top: -10%;
      z-index: -10;
      opacity: 0.05;

      &__second {
        background: url(../img/bg-header-service-2.png) no-repeat 75% 13vw;
        min-height: 70vh;
        border-bottom: 0;
      }

      @media (max-width: 1488px) {
        &__second {
          background-position-y: 20vw;
        }
      }

      @media (max-width: 835px) {
        &__second {
          background-position-y: 25vw;
        }
      }

      @media (max-width: 620px) {
        &-bg {


          &__second {
            background-position-y: 28vw;
          }
        }
      }

      @media (max-width: 420px) {
        &__second {
          background-position-y: 32vw;
        }
      }
    }
    &__item {
      margin-left: 4vw;
    }

    &__btn {
      color: $color-dark;
      font-weight: 700;
      border: 1px solid $color-accent;
      background-color: $color-light;
      padding: 10px 30px;

      &:hover,
      &:active {
        color: $color-light;
      }

      &--accent{
        color: $color-light;
        background-color: $color-accent;

        &:hover,
        &:active {
          background-color: $color-primary;
          border-color: $color-primary;
        }
      }
    }
  }

}

.nav {
  &-item{
    margin-left: 2vw;

    &:last-of-type {
      margin-left: 1vw;
    }
  }
  @media (max-width: 992px) {
    &-item{
      margin-bottom: 2vw;
      padding-top: 0.5vw;
    }
  }

  @media (max-width: 620px) {
    &-item{
      margin-bottom: 3vw;
      padding-top: 0.75vw;
    }
  }
  @media (max-width: 400px) {
    &-item{
      margin-bottom: 3.5vw;
      padding-top: 1vw;
    }
  }

  &-btn {
    margin-left: 0.5vw;
    font-size: 0.8572em;
    border: none;
    color: $color-light;
    padding: 10px 3vw;
    background-color: $color-primary;
    transition: background-color 0.3s ease-out;

    &:hover,
    &:active {
      text-decoration: none;
      background-color: $color-accent;
      color: $color-light;
    }
  }

  @media (max-width: 1488px) {
    &-item{
      margin-left: 1vw;
    }

    &-btn {
      margin-left: 0.2vw;
      padding: 10px 1.5vw;
    }
  }

}

.header-content {
  padding: 5vw 12vw 1vw;
  min-height: 95vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba($color-light-grey, 0.3);
  z-index: 1;

  &__description {
    padding-bottom: 20px;
  }

 &__title {
   font-size: 4em;

   &-emphasis {
     text-align: left;
     font-size: 5em;
   }

   @media (max-width: 1488px) {
     &-emphasis {
       font-size: 3em;
     }
   }

   @media (max-width: 1126px) {
     &-emphasis {
       font-size: 5vw;
     }
   }
   &-opacity {
     margin: 1vw 0;
     color: rgba($color-light-grey, .15);
     font-size: 9vw;
     line-height: 1em;

     & strong {
       font-weight: 800;
     }
   }

 }

  @media (max-width: 585px) {
    &__btn {
      display: block;
      margin: auto;
      padding: 15px 4vw;
    }
  }

  &__btn {
    margin-left: 0.5vw;
    border-radius: 10px;
    border: none;
    color: $color-light;
    padding: 15px 2vw;
    background-color: $color-primary;
    transition: background-color 0.3s ease-out;

    &:hover {
      background-color: $color-accent;
    }
  }

  &__service {
    padding-top: 13vw;
  }

  @media (max-width: 1488px) {
    &__service {
      padding-top: 18vw;
    }
  }


  @media (max-width: 835px) {
    &__service {
      padding-top: 22vw;
    }
  }
  @media (max-width: 620px) {
    &__service {
      padding-top: 23vw;
    }
  }

  @media (max-width: 420px) {
    &__service {
      padding-top: 28vw;
    }
  }
}





@media (max-width: 1820px) {
  .header-content {
    padding: 2em 3vw 1em;
    }
  }


@media (max-width: 768px) {
  .header-content {
    p {
      text-align: center;
    }
    &__btn {
      display: block;
      margin: auto;
    }
  }
}

@media (max-width: 1488px) {
  .header-content {

    &__title {
      font-size: 2.8em;
    }
    &__title,
    &__heading{
      margin-top: 50px;
      text-align: center;


      &-emphasis {
        display: block;
        text-align: center;
      }
    }
  }
}



@media (max-width: 596px) {
  .header-content {
    &__heading {
      margin-top: 2vw;
    }
    &__title {
      font-size: 2em;


      &-emphasis {
        font-size: 2em;
      }
    }
  }
}

.social {

  &-menu {
    padding: 2vw 12vw 0.5vw;
    border-top: 1px solid rgba($color-light-grey, 0.3);
    border-bottom: 1px solid rgba($color-light-grey, 0.3);


    &__item {
      margin-right: 3vw;
    }

    @media (max-width: 668px) {

      &__scroll {
        display: none;
      }
    }

    &__link{
      color: $color-dark;
      text-decoration: none;
    }
  }
}

.fas,
.far {
  color: rgba($color-light-grey, 0.8);
  font-size: 1.5em;
  transition: color 0.3s ease-out;

  &:hover {
    color: $color-accent-light;
  }
}

.user {
  &-navbar {
    padding: 0;
    border: 0;

    &__header {
      flex-grow: 1;
      align-items: center;
      display: flex!important;
      flex-basis: auto;
    }
  }

  &-nav {
    border-right: 1px solid rgba($color-light-grey, 0.3);
    &__menu {
      padding: 20px 28px 10px;
    }
    &--notification {
      border-left: 1px solid rgba($color-light-grey, 0.3);
      padding: 20px 10px 10px;
    }

    &-dark {
      & .far {
        color: $color-light;
        padding: 20px;

        &:hover,
        &:focus {
          color: $color-primary;
        }
      }
    }
    &__item {
      position: relative;
    }
  }
}
.notification-label {
  position: absolute;
  display: block;
  background-color: $color-accent-light;
  top: 21px;
  right: 18px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.nav-notification {
  padding-right: 10vw;
 &--dark {
   background-color: $color-dark-grey;
   box-shadow: 0 0 20px rgba($color-dark, 0.3);
 }
}


.section-paralax {
  position: relative;
  width: 100%;
  min-height: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.section-paralax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}


#typewriter{

  &:after{
    content: "|";
    font-size: 1em;
    font-weight: 100;
    color: rgba($color-light-grey, 0.8);
    animation: blink 500ms linear infinite alternate;
  }

}


@keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.title-padding {
  padding-left: 10vw;
}


@media (max-width: 1488px) {

  .title-padding {
    padding-left: 0;
  }
}
