.section-content {
  padding: 6vw 0 1vw;
}

.benefits-container,
.features-container{
  margin: 5vw 1vw 1vw;
}

.benefit {
    &:nth-of-type(2) {
      margin-top: 4vw;
    }
  &:nth-of-type(3) {
    margin-top: 8vw;
  }
  &__title {
    font-size: 1.9em;
    font-weight: 800;
  }

  @media (max-width: 1488px) {
    &__title {
      font-size: 1.5em;
    }
  }

  @media (max-width: 1126px) {
    &__title {
      font-size: 1.3em;
    }
  }
}

sup {
  padding-right: 15px;
  font-size: $font-size;
  font-weight: 400;
}

.btn-calc {
  padding: 20px 30px;
  border: 1px solid rgba($color-light-grey, 0.3);
  background-color: $color-light;
}

.feature {

  &__icon {
    padding: 20px 0;
  }

  &__title {
    color: $color-primary;
    font-size: 2em;
    font-weight: 800;
  }
}

.about {

  &__title {
    margin: 0.3em 0 1em -50px;
  }
  &__description {
    position: relative;
    &:before {
      position: absolute;
      top: 15px;
      left: -60px;
      width: 50px;
      height: 2px;
      content: "";
      background-color: rgba($color-light-grey, 0.6);
    }
  }
}

.customization {

  &__title {
    margin: 0.3em 4vw 1.5em 0;
  }

  &__list {
    list-style: none;
  }

  &__item::before {
    content: "\2022";
    color: $color-accent;
    font-weight: 800;
    display: inline-block;
    width: 2em;
    margin: 0 -1em;
  }

  &__image {
    width: 35vw;
    margin: -100px 0 0 0;
  }

  @media (max-width: 992px) {
    &__image {
      width: 70vw;
      margin: -10px 0 0 0;
    }
  }
}
