main {
  margin-bottom: 5vw;
}

.section-content {
  padding: 3vw 0 1vw;
  &__home {
    padding-top: 6vw;
  }


  @media (max-width: 1126px) {
    &__home {
      padding-top: 10vw;
    }
  }

  @media (max-width: 620px) {
    &__home {
      padding-top: 15vw;
    }
  }
}

.benefits-container,
.features-container{
  margin: 5vw 1vw 1vw;
}

.section-container__desc{
  margin: 1vw;
}

.benefit {
    &:nth-of-type(2) {
      margin-top: 4vw;
    }
  &:nth-of-type(3) {
    margin-top: 8vw;
  }
  &__title {
    font-size: 1.9em;
    font-weight: 800;
  }

  @media (max-width: 1488px) {
    &__title {
      font-size: 1.5em;
    }
  }

  @media (max-width: 1126px) {
    &__title {
      font-size: 1.3em;
    }
  }
}

sup {
  padding-right: 15px;
  font-size: $font-size;
  font-weight: 400;
}

.calc-btn__more {
  background-color: $color-accent;
  border-radius: 10px;
  padding: 10px 20px;
  color: $color-light;
  font-weight: 700;
  transition: background-color 0.3s ease-out;
  margin: 20px;

  &:hover,
  &:active{
    background-color: $color-primary;
    color: $color-light;
  }
}

.feature {

  &__icon {
    padding: 20px 0;
  }

  &__title {
    color: $color-primary;
    font-size: 2em;
    font-weight: 800;
  }
}

.about {

  &__title {
    margin: 0.3em 0 1em -50px;
  }
  &__description {
    position: relative;
    &:before {
      position: absolute;
      top: 15px;
      left: -60px;
      width: 50px;
      height: 2px;
      content: "";
      background-color: rgba($color-light-grey, 0.6);
    }
  }
  @media (max-width: 1126px) {

    &__description {

      &:before {
        left: -40px;
        width: 35px;

      }
    }
  }

}

.customization {

  &__title {
    margin: 0.3em 4vw 1.5em 0;
  }

  &__list {
    list-style: none;
  }

  &__item::before {
    content: "\2022";
    color: $color-accent;
    font-weight: 800;
    display: inline-block;
    width: 2em;
    margin: 0 -1em;
  }

  &__image {
    width: 35vw;
    margin: -100px 0 0 0;
  }

  @media (max-width: 991px) {
    &__image {
      width: 70vw;
      margin: -10px 0 0 0;
    }
  }
}

.summary {
  &__description {
    p {
      color: $color-light-grey;
      text-transform: uppercase;
    }
  }

  &-desc {
    margin: 3vw 10vw;
    text-align: center;

    &__card-title {
      font-size: 2.5vw;
      color: $color-accent;
      font-weight: 800;
    }

    @media (max-width: 992px) {
      &__card-title{
        font-size: 4vw;
      }
    }

    @media (max-width: 768px) {
      &__card-title{
        font-size: 12vw;
      }
    }
  }

  @media (max-width: 450px) {
    &-desc {
      margin: 3vw 3vw;
    }
  }
}

.card-summary {
  border-color: rgba($color-accent, 0.3);
  padding: 2vw;

  &-text {
    font-size: 0.9em;
  }
}

.card-summary {
  border-color: rgba($color-accent, 0.3);
  padding: 2vw;

  &-text {
    font-size: 0.9em;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    max-width: 100%;
  }
}

.section-summary {

  &__bg {
    //background: url("../img/bg.jpg") no-repeat 78% 5vw;
  }

  @media (max-width: 1680px) {
    &__bg {
      background-position: 90% 3vw;
    }
  }

  @media (max-width: 1200px) {
    &__bg {
      background: none;
    }
  }
}

.rating-area {
  overflow: hidden;
  width: 180px;
}
.rating-area:not(:checked) > input {
  display: none;
}
.rating-area:not(:checked) > label {
  float: right;
  width: 35px;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
  content: '★';
}
.rating-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
  position: relative;
}

@media (max-width: 992px) {
  .card__rating {
    text-align: center;
  }
  .rating-area {
    width: 34vw;
  }
}

@media (max-width: 820px) {
  .rating-area {
    width: 35vw;
  }
}

@media (max-width: 670px) {
  .rating-area {
    width: 38vw;
  }
}

@media (max-width: 530px) {
  .rating-area {
    width: 41vw;
  }
  .rating-area:not(:checked) > label {
    width: 30px;
  }
}

@media (max-width: 370px) {
  .rating-area {
    width: 44vw;
  }
  .rating-area:not(:checked) > label {
    width: 25px;
  }
}

.form {

  &__btn {
    color: $color-accent;
    font-weight: 700;
    margin: 10px auto;
    border: 1px solid $color-dark;
    border-radius: 0;
    padding: 13px;
    transition: all 0.3s ease-out;
    &:hover,
    &:active {
      color: $color-light;
      background-color: $color-accent;
    }
  }

  &__input {
    margin: 20px auto;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $color-dark;
    padding: 15px;
    background-color: transparent;

    &::placeholder {
      color: $color-light-grey;
    }

    &:focus {
      border-bottom: 2px solid $color-accent;
      box-shadow: none;
    }
  }
}

.user-main {
  background-color: rgba($color-light-grey, 0.2);
  margin-bottom: 0;
  width: 100vw;
  padding: 5vw 3vw 2vw;
}

.left-sidebar {
  width: 80px;
  padding-top: 5vw;
  min-height: calc(100vh - 62px);


    div {
      position: fixed;
      padding-left: 8px;
    }
}

.user-nav__menu {
  position: fixed;
}

.nav-logout {
  position: relative;

  div {
    position: absolute;
    bottom: -85vh;
    padding-left: 0;
    margin-left: -5px;
  }
}

.nav-link__user {
  padding: 1rem;
  text-align: center;
}

.nav-item__user-logout {
  margin-bottom: 1vw;
}

.btn-content-user {
  font-weight: 700;
  margin: 10px;
  border-radius: 0;
  padding: 10px 20px;
  transition: all 0.3s ease-out;
  box-shadow: 0 0 20px rgba($color-dark, 0.3);

  &:first-of-type{
    color: $color-dark;
  }

  &:nth-of-type(2){
    color: $color-light;
    background-color: $color-accent-light;

  }
  &:hover,
  &:active {
    color: $color-light;
    background-color: $color-primary;
  }
}

.btn-small {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 3px 0 0 0;

  &:first-of-type .fas{
    font-size: 2em;
    &:hover {
      color: $color-light;
    }
  }

  &:nth-of-type(2) .fas{
    color: $color-light;
    font-size: 2em;
    transition: color 0.1s ease-out;

    &:hover {
      color: $color-light;
    }
  }
}

.cards-user {
  margin: 5vw auto;
}

.card-user {
  margin: 20px;
  box-shadow: 0 0 10px rgba($color-dark, 0.2);

  &:hover {
    box-shadow: 0 0 15px rgba($color-dark, 0.3);
  }

  &--accent {
    background-color: $color-accent-light;
    color: $color-light;
  }

  &__description {
    font-weight: 800;
    font-size: 3em;
  }
}

.nav-sort{

  &-item {
    padding: 10px;

    &--active {
      border-bottom: 2px solid $color-accent-light;

      & a {
        color: $color-dark;
      }
    }
  }

  &-link {
    color: $color-light-grey;
    transition: color 0.3s ease-out;

    &:hover,
    &:active {
      text-decoration: none;
      color: $color-accent-light;
    }

  }
}

.table {

  &-admin {
    background-color: $color-light;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba($color-dark, 0.2);

    th {
      background-color: rgba($color-light-grey, 0.2);

      a {
        color: $color-dark;
        text-decoration: none;

        & .fas {
          color: rgba($color-dark, 0.5);
          font-size: 1em;
          margin-top: 10px;
        }
      }
    }

    tbody tr:hover {
      background-color: rgba($color-light-grey, 0.1);
      box-shadow: 0 0 10px rgba($color-dark, 0.1);
    }

    td {
      border-top: 1px solid rgba($color-light-grey, 0.2);
      padding: 15px;
      font-size: 0.95em;
      vertical-align: middle;

      a {
          color: $color-accent-light;

        &:hover,
        &:active {
          color: $color-accent;
          text-decoration: none;
        }
        }
      }

    th:first-child,
    td:first-child {
      text-align: center;
    }
  }

  &-data {
    &__small {
      font-size: 0.9em;
    }

    &__edit {
      vertical-align: middle;
      padding-left: 10px;
    }

    &__status {
      background-color: rgba($color-accent-light, 0.1);
      padding: 10px;
      min-width: 120px;
      display: inline-block;
      text-align: center;
      font-weight: 800;

      &--kept {
        color: $color-accent-light;
      }

      &--removed {
        color: #d41440;
      }

      &--expected {
        color: #4db94c;
      }
    }
  }
}

.section-service {
  padding: 2vw 0;

  &__row {
    border-bottom: 1px solid $color-accent;
    padding: 6vw 0;
  }

  &__title {
    font-size: 1.5em;
    font-weight: 700;

    & span {
      color: $color-accent;
    }
  }

  &__description {
    font-size: 0.9em;
  }
}

.price-container {
  padding: 0 10vw 5vw;
}

@media (max-width: 1880px) {
  .price-container {
    padding: 0 1vw 5vw;
  }
}

.card-header:first-child {
  border-radius: 15px 15px 0 0 !important;
}

.card-price {
  border: 1px solid rgba($color-light-grey, 0.3);
  border-radius: 15px;
  justify-content: center;
  align-items: stretch;

  &__header {
    margin: 0 -15px;
    border: 0;
    color: $color-light;
    background-color: $color-accent;
    text-align: center;
    position: relative;

  }
  &__sticker {
    position: absolute;
    top: -35px;
    right: -35px;
  }

  &__title {
    padding: 30px 0 15px;
    font-weight: 700;
  }

  @media (min-width: 992px) and (max-width: 1030px) {
    &__title {
      font-size: 0.9em;
    }
  }

  @media (min-width: 1031px) and (max-width: 1250px) {
    &__title {
      font-size: 1em;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {

    & .fas {
      color: $color-accent;
      padding-right: 10px;
      font-size: 0.9em;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }


  &__order {
    margin-top: 50px;
    text-align: center;
  }

  &__currency {
    font-weight: 700;
    font-size: 1.75em;

    & sup,
    & span {
      color: $color-light-grey;
      font-size: 0.5em;
      padding-right: 5px;
      text-align: center;
    }
  }

  &__btn {
    color: $color-accent;
    margin: 10px auto;
    border: 1px solid $color-accent;
    border-radius: 0;
    padding: 8px 25px;
    transition: all 0.3s ease-out;

    &:hover,
    &:active {
      color: $color-light;
      background-color: $color-accent;
    }
  }

}

.accent {
  color: $color-accent;
}

.section-id{

  &__list {
    & span {
      color: $color-dark;
    }
  }
  &__item {
    color: $color-accent;
  }
}

.btn-light {
  background-color: $color-light;
  border-radius: 10px;
  padding: 10px 3vw;
  margin-left: 0.5vw;
  transition: all 0.3s ease-out;

  &:hover,
  &:active{
    text-decoration: none;
    background-color: $color-accent;
    color: #ffffff;
  }
}

.card-light {
  &-bg {
    background-color: rgba($color-light-grey, 0.3);
    justify-content: center;
    align-items: center;
    & img {
      width: 100%;
    }
  }

  &-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

